@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
a{color:#000;text-decoration:none;}
a:hover{color:#000;}
a:visited{ color:#000;}
a:active{color: #000}
img{border:none;}	
.clear{clear:both;}	
body{font-size:12px;font-family:"微软雅黑";font-family:Arial, Helvetica, sans-serif;background-color:#e8e9ed;}
ul,ol{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-family:"微软雅黑"; font-weight:100; display:block; margin:0; padding:0;}
/*通配*/
#body{ width:100%;}
#header{width:100%;}
#head{width:100%; background-image:url(../images/amuse-xiaohualogo1.jpg); background-repeat:repeat-x;}
.head1{width:25%;float:left;}
.head2{width:20%;float:right; text-align:right; padding-right:5%;}	
.head3{width:50%; height:40px; float:left;}
.head3 h1{ text-align:center; line-height:40px; font-size:22px; color:#FFF; font-weight:100;}
/*头部*/
.banner{ width:100%; text-align:center;}
/*广告*/
.nr{ width:100%;}
.dh{width:100%; padding:2% 0; background-color:#f2f3f7; margin-top:1%;}
.dh1{width:100%; margin-top:1%;}
.dh1 h1{ float:left; width:10%; text-align:center; background-color:#eeeeee; font-size:1.1em; border:1px solid #cecece; border-bottom:none; border-radius:3px; margin-right:1%;}
.xdh{ width:20%; background-image:#FFF; margin:0% auto; text-align:center; background-color:#525252;-moz-border-radius:5px;-khtml-border-radius: 5px;-webkit-border-radius:5px;border-radius: 5px; font-size:2.5em; color:#FFF;}
.xdh{ font-size:18px;}
.nrz{ width:46%; float:left; padding:2%; margin-top:1%; background-color:#f4f4f4;}
.nry{ width:46%; float:right; padding:2%; padding-left:1%;  margin-top:1%; background-color:#f2f3f7;}
.nrzz{ width:35%; float:left;}
.nrzy{ width:65%; float:right;}
.nrzys,.nrzyx{width:100%; overflow:hidden;}
.nrzys{ text-align:left; overflow:hidden; height:48px;}
.nrzys h1{ font-size:15px;}
.nrzyx{ text-align:center;}
.nrzyxxia{ width:40px; height:15px; font-size:12px; line-height:15px; float:right; -moz-border-radius:2px;-khtml-border-radius: 2px;-webkit-border-radius:2px;border-radius: 2px; background-color:#ff9d25;}
/*身体*/
#footer{width:100%; margin-top:1%; padding-top:5%; background-color:#f4f4f4;}	
#footer ul{ width:100%; margin:0 auto; text-align:center;}
#footer li{float:left;width:99px; height:30px; line-height:30px;border-left:1px solid #d7d7d7; overflow:hidden; }
#footer li h2{font-size:14px; height:30px;line-height:30px;font-weight:100;color:#444444;}	
#footer p{margin-top:3%;font-size:12px;text-align:center;font-weight:100; line-height:20px;}
#footer li a{display:block;height:30px;color:#444444;background-color:#fff; line-height:30px;}
#footer li a:hover{color:#444444;background-color:#d0d0d0;}	
.box1{ margin-left:10px; width:20%; margin-top:10px;}
.box{ width:200px; margin:0 auto;}
/*脚部*/
/*脚*/
