@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
a:link,a:visited{color:#3c3c3c;text-decoration:none; border:0; outline:none;}
a:hover,a:active,a:focus{color:#3c3c3c; border:0; outline:none;}	
img{ border:none; border:0; outline:none;}	
.clear{clear:both;}	
body{font-size:12px;font-family:"微软雅黑";font-family:Arial, Helvetica, sans-serif; width:100%; margin:0 auto; background-color:#eaeaea;}
ul,ol{list-style-type:none;}
/* 通配 */
#bodyer{ width:96%; margin:0 2%;}
#header{ width:100%;}
#logo{ width:100%; margin-top:20px; text-align:center;}
#shuiyin{ width:100%; font-size:12px; text-align:center; color:#5b5b5b; margin:5px 0;}
#daohang{ width:100%; height:65px; background-image:url(../images/jianbian.jpg); background-repeat:repeat-x; background-size:100% 100%; border-radius:100px;-moz-border-radius:100px; }
/* 认证 */
#renzheng{ width:49%; float:left; text-align:left; line-height:14px; color:#FFF;}
#renzheng span{ margin:0; padding:0;}
#renzheng .yidong{ margin:3px; float:left;border-radius:100px;-moz-border-radius:100px;}
#renzheng .yidong img{ height:50px;border-radius:100px;-moz-border-radius:100px;}
#renzheng h1{ font-size:14px; margin:16px 0 0 2%;}
#renzheng h1 p{ margin:0; padding:0;}
/* 认证 */
/* 中间 */
#juzhong{ float:left; margin:0 auto; width:2%; height:65px;}
#fenggexian{ width:2px; height:43px; margin:10px auto; border-radius:100px;-moz-border-radius:100px;border:1px solid #1c78b7; background-color:#1e82c8;}
/* 中间 */
/* 公交 */
#gongjiao{ width:49%; float:right; text-align:right;line-height:65px; color:#FFF;}
#gongjiao .gongjiao{ margin:3px; float:right;border-radius:100px;-moz-border-radius:100px;}
#gongjiao .gongjiao img{ height:50px;border-radius:100px;-moz-border-radius:100px;}
#gongjiao h1{ font-size:14px; margin-right:2%;}
/* 公交 */
/* 蓝背景 */
.lanz{ margin:4px 3px; float:left; background-color:#1580b9;border-radius:100px;-moz-border-radius:100px;}
.lany{ margin:4px 3px; float:right; background-color:#1580b9;border-radius:100px;-moz-border-radius:100px;}
/* 移动公交导航 */
#nav{ width:96%; margin:10% 2%;}
#nav ul{ width:100%; text-align:center;}
#nav ul li{ float:left; width:66px; line-height:20px; margin:0 2%; font-size:14px; }
#nav ul li p{ margin-top:5px;}
.bg{ width:50px; height:50px; padding:8px; background-image:url(../images/navbg.png);border-radius:100px;-moz-border-radius:100px; border:1px solid #dbdddc;}
.box1{ width:50px; height:50px; background-image:url(../images/new.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box2{ width:50px; height:50px; background-image:url(../images/mov.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box3{ width:50px; height:50px; background-image:url(../images/amuse.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box4{ width:50px; height:50px; background-image:url(../images/app.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box1 a{ width:50px; height:50px; display:block; background-image:url(../images/new.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box2 a{ width:50px; height:50px; display:block; background-image:url(../images/mov.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box3 a{ width:50px; height:50px; display:block; background-image:url(../images/amuse.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box4 a{ width:50px; height:50px; display:block; background-image:url(../images/app.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box1 a:hover{ background-image:url(../images/xnew.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box2 a:hover{ background-image:url(../images/xmov.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box3 a:hover{ background-image:url(../images/xamuse.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box4 a:hover{ background-image:url(../images/xapp.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.hezi{ width:300px; margin:0 auto;}
/* 图片轮播 */
.swipe {overflow: hidden;visibility: hidden;position: relative;}
/*@media only screen and (max-width: 470px) {
.swipe {margin: 0;width: 100%;、}}*/
.swipe {/*max-width: 500px;*/margin:0 auto 10px auto;width: 100%;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > div {float: left;width: 100%;position: relative;}
.swipe-wrap div img {width:100%;margin:0;padding:0;}
/*位置指示*/
nav #position {text-align: center;list-style: none; position:absolute; right:-20px; bottom:0;z-index:4;width:80px;height:29px;line-height:29px;padding-top:4px;box-sizing: border-box;}
nav #position li {display: inline-block;width:5px;height:5px;border-radius: 10px;background:#ccc;box-shadow: inset 0 1px 3px black, 0 0 1px 1px #ccc;margin: 0 2px;cursor: pointer}
nav #position li.on {
	box-shadow: inset 0 1px 3px -1px #ccc, 0 1px 2px rgba(0,0,0,.5);
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(100%, #ccc));
	background-image: -webkit-linear-gradient(top, #CCC, #ccc);
	background-image: -moz-linear-gradient(top, #ccc, #ccc);
	background-image: -ms-linear-gradient(top, #ccc, #ccc);
	background-image: -o-linear-gradient(top, #ccc, #ccc);
	background-image: linear-gradient(top, #ccc, #ccc)}
/*位置指示结束*/
/* 文字滚动 */
#scrollDiv{ widows:100%; height:40px; font-size:14px; line-height:35px; background-color:#FFF; overflow:hidden; border-bottom:1px solid #d2d0ce; border-top:1px solid #d2d0ce;}
#scrollDiv ul{ float:left; text-align:left; text-indent:5px;}
#scrollDiv ul li{ text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#scrollDiv ul li a{color:#8d8d8d;}
#xiala{ width:100%; display:none; background-color:#FFF;}
#xiala ul{ color:#8d8d8d; text-align:left;}
#xiala ul li{ width:100%; line-height:30px; font-size:14px; text-indent:10px; position:relative; border-bottom:1px solid #d2d0ce;}
#scrollDiv p{ float:right; margin:8px 10px 0 0;}
#xiala ul li a{ color:#8d8d8d;}
#scrollDiv img{ display:block; float:left; margin:5px 0 0 5px;}
/* 脚 */
#footer{width:100%; background-color:#eaeaea; margin-top:4%;}	
#footer ul{ width:100%; margin:0 auto; text-align:center;}
#footer li{float:left;width:90px; height:15px; line-height:15px;border-left:2px solid #969696; overflow:hidden; }
#footer li h2{font-size:14px; height:15px;line-height:15px;font-weight:100;color:#444444;}	
#footer p{margin-top:3%;font-size:12px;text-align:center;font-weight:100; line-height:20px;}
#footer li a{display:block;height:15px;color:#444444;line-height:15px;}
#footer li a:hover{color:#444444;}	
.box-1{ margin-left:10px; width:20%; margin-top:10px;}
.box{ width:182px; margin:0 auto;}
@media only screen and (max-width:280px) {
@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
a:link,a:visited{color:#3c3c3c;text-decoration:none; border:0; outline:none;}
a:hover,a:active,a:focus{color:#3c3c3c; border:0; outline:none;}	
img{ border:none; border:0; outline:none;}	
.clear{clear:both;}	
body{font-size:12px;font-family:"微软雅黑";font-family:Arial, Helvetica, sans-serif; width:100%; margin:0 auto; background-color:#eaeaea;}
ul,ol{list-style-type:none;}
/* 通配 */
#bodyer{ width:96%; margin:0 2%;}
#header{ width:100%;}
#logo{ width:100%; margin-top:20px; text-align:center;}
#shuiyin{ width:100%; font-size:12px; text-align:center; color:#5b5b5b; margin:5px 0;}
#daohang{ width:100%; height:55px; background-image:url(../images/jianbian.jpg); background-repeat:repeat-x; background-size:100% 100%; border-radius:100px;-moz-border-radius:100px; }
/* 认证 */
#renzheng{ width:49%; float:left; text-align:left; line-height:14px; color:#FFF;}
#renzheng .yidong{ margin:3px; float:left;border-radius:100px;-moz-border-radius:100px;}
#renzheng .yidong img{ height:40px;border-radius:100px;-moz-border-radius:100px;}
#renzheng h1{ font-size:13px; margin:12px 0 0 2%;}
/* 认证 */
/* 中间 */
#juzhong{ float:left; margin:0 auto; width:2%; height:55px;}
#fenggexian{ width:2px; height:31px; margin:10px auto; border-radius:100px;-moz-border-radius:100px;border:1px solid #1c78b7; background-color:#1e82c8;}
/* 中间 */
/* 公交 */
#gongjiao{ width:49%; float:right; text-align:right;line-height:55px; color:#FFF;}
#gongjiao .gongjiao{ margin:3px; float:right;border-radius:100px;-moz-border-radius:100px;}
#gongjiao .gongjiao img{ height:40px;border-radius:100px;-moz-border-radius:100px;}
#gongjiao h1{ font-size:13px; margin-right:2%;}
/* 公交 */
/* 蓝背景 */
.lanz{ margin:4px 3px; float:left; background-color:#1580b9;border-radius:100px;-moz-border-radius:100px;}
.lany{ margin:4px 3px; float:right; background-color:#1580b9;border-radius:100px;-moz-border-radius:100px;}
/* 移动公交导航 */
#nav{ width:98%; margin:10% 1%;}
#nav ul{ width:100%; text-align:center;}
#nav ul li{ float:left; width:55px; line-height:20px; margin:0 1%; font-size:14px; }
#nav ul li p{ margin-top:5px;}
.bg{ width:40px; height:40px; padding:5px; background-image:url(../images/navbg.png);border-radius:100px;-moz-border-radius:100px; border:1px solid #dbdddc;}
.box1{ width:40px; height:40px; background-image:url(../images/new.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box2{ width:40px; height:40px; background-image:url(../images/mov.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box3{ width:40px; height:40px; background-image:url(../images/amuse.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box4{ width:40px; height:40px; background-image:url(../images/app.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box1 a{ width:40px; height:40px; display:block; background-image:url(../images/new.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box2 a{ width:40px; height:40px; display:block; background-image:url(../images/mov.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box3 a{ width:40px; height:40px; display:block; background-image:url(../images/amuse.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box4 a{ width:40px; height:40px; display:block; background-image:url(../images/app.png); background-size:100% 100%; background-repeat:no-repeat;border-radius:100px;-moz-border-radius:100px;}
.box1 a:hover{ background-image:url(../images/xnew.png); background-size:100% 100%; background-repeat:no-repeat;}
.box2 a:hover{ background-image:url(../images/xmov.png); background-size:100% 100%; background-repeat:no-repeat;}
.box3 a:hover{ background-image:url(../images/xamuse.png); background-size:100% 100%; background-repeat:no-repeat;}
.box4 a:hover{ background-image:url(../images/xapp.png); background-size:100% 100%; background-repeat:no-repeat;}
.hezi{ width:235px; margin:0 auto;}
/* 图片轮播 */
.swipe {overflow: hidden;visibility: hidden;position: relative;}
.swipe {margin:0 auto 10px auto;width: 100%;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > div {float: left;width: 100%;position: relative;}
.swipe-wrap div img {width:100%;margin:0;padding:0;}
/*位置指示*/
nav #position {text-align: center;list-style: none; position:absolute; right:-20px; bottom:0;z-index:4;width:80px;height:29px;line-height:29px;padding-top:4px;box-sizing: border-box;}
nav #position li {display: inline-block;width:5px;height:5px;border-radius: 10px;background:#ccc;box-shadow: inset 0 1px 3px black, 0 0 1px 1px #ccc;margin: 0 2px;cursor: pointer}
nav #position li.on {
	box-shadow: inset 0 1px 3px -1px #ccc, 0 1px 2px rgba(0,0,0,.5);
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(100%, #ccc));
	background-image: -webkit-linear-gradient(top, #CCC, #ccc);
	background-image: -moz-linear-gradient(top, #ccc, #ccc);
	background-image: -ms-linear-gradient(top, #ccc, #ccc);
	background-image: -o-linear-gradient(top, #ccc, #ccc);
	background-image: linear-gradient(top, #ccc, #ccc)}
/*位置指示结束*/
/* 文字滚动 */
#scrollDiv{ widows:100%; height:40px; font-size:14px; line-height:35px; background-color:#FFF; overflow:hidden; border-bottom:1px solid #d2d0ce; border-top:1px solid #d2d0ce;}
#scrollDiv ul{ float:left; text-align:left; text-indent:5px;}
#scrollDiv ul li{ text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#scrollDiv ul li a{color:#8d8d8d;}
#xiala{ width:100%; display:none; background-color:#FFF;}
#xiala ul{ color:#8d8d8d; text-align:left;}
#xiala ul li{ width:100%; line-height:30px; font-size:14px; text-indent:10px; position:relative; border-bottom:1px solid #d2d0ce;}
#scrollDiv p{ float:right; margin:8px 10px 0 0;}
#xiala ul li a{ color:#8d8d8d;}
#scrollDiv img{ display:block; float:left; margin:5px 0 0 2px;}
/* 脚 */
#footer{width:100%; margin-top:8%;}	
#footer ul{ width:100%; margin:0 auto; text-align:center;}
#footer li{float:left;width:90px; height:15px; line-height:15px;border-left:2px solid #969696; overflow:hidden; }
#footer li h2{font-size:14px; height:15px;line-height:15px;font-weight:100;color:#444444;}	
#footer p{margin-top:3%;font-size:12px;text-align:center;font-weight:100; line-height:20px;}
#footer li a{display:block;height:15px;color:#444444;line-height:15px;}
#footer li a:hover{color:#444444;}	
.box-1{ margin-left:10px; width:20%; margin-top:10px;}
.box{ width:182px; margin:0 auto;}
}